
header {
	
	background-color: rgb(51,51,51);


}

body {

	background: rgb(230,230,230);
	margin-left: 5%;
	margin-right: 5%;

}


div.outside {

	background-color: white;
}


list.list-unstyled, .content, ul.entries li , .pagecontent, .writing, .pageheader, ul.entriespage li h3, .list-unstyled, h4, h5, h3, .pagecontent, .bookcontent {

	font-family: "Palatino", serif;
	font-size: 16px;
	color: rgb(51, 51, 51);
	list-style: none;
}

.bookcontent

{

	font-size: 12px;
	color: rgb(128,128,128);
}
h2, nav ul {

	font-family: "museo-sans",sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 19px;
	color: white;
} 

h2 {

	background-color: rgb(51, 51, 51);
	text-align: left;
	width: 250px;
	padding: 5px;
	padding-left: 10px;

}

h4 {

	font-size: 16px;
	font-weight: 300;
}


h5 {

	font-size: 24px;
	font-weight: 300;
	text-align: center;
	font-style: normal;
}

.content {
	
	
	background-color: white;
	color: rgb(51,51,51);
	

	
}


a {
  color: white;
  text-decoration: none;
  
}

 
a:hover {
  color: #ececec;
  text-decoration: underline;
}


nav ul {

	float: left;
 	width: 100%;
 	margin-left: 0px;
 	list-style-type: none;
 	background-color: rgb(128,128,128);

}

nav li a {

  	float: left;
  	display: block;
	text-decoration: none;
	margin-left: 20px;



}

ul {
font-family: "museo-sans",sans-serif;	
list-style-type: none;
font-size: 36px;
color: rgb(26, 26, 26);

}


ul.entries li h3 {

font-size: 14px;
}

ul.entriespage li h3 {

text-align: center;
margin-top: 0px;
margin-bottom: 0px;
}

ul.entries a {
  color: rgb(26,26,26);
}

ul.entries a:hover {
  color: #fff;
}


.pageheader, ul.entriespage li h3 {
	
	
	font-weight: 500;
	font-size: 32px;
	color: rgb(51, 51, 51);

} 

.pageheader {
		


	border-bottom: 1px;
	border-style:solid;
	border-color: rgb(51, 51, 51);
	padding-bottom: 10px;
	padding-top: 10px;
	
}

.list-unstyled {
	
	color: rgb(51, 51, 51);
	letter-spacing: .5pt;
	font-size: 14px;


}

sub {
    vertical-align: baseline;
    line-height: inherit;
    font-variant-position: sub;
    font-size: 60%;
    font-weight:normal;
    letter-spacing:0px

  }


iframe {

	margin-top: 10px;

}


.italics {

	font-style: italic;
}

#magazine{
	
	width:1125px;
	height:750px;
	

	
}
#magazine .turn-page{
	background-color:white;
	background-size:100% 100%;
	border:1px;
	border-color:rgb(230,230,230);
	border-style:solid;
}


footer {

	font-family: "museo-sans",sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	color: white;
	background-color: rgb(128,128,128);
	text-align: center;
	margin-top: 400px;	

}



