body {

background: rgb(230,230,230);
	margin-left: 5%;
	margin-right: 5%;

}

header {
	
	background-color: rgb(51,51,51);


}

div.outside {

	background-color: white;
}

list.list-unstyled, .content, ul.entries li , .pagecontent, .writing, .pageheader, ul.entriespage li h3, .list-unstyled, h4, h5 {

	font-family: "Palatino", serif;
	letter-spacing: 0pt;
	font-size: 14px;
	color: rgb(51, 51, 51);
	line-height: 1.2;

}

h2, p {

	margin-left: 40px;
	margin-right: 40px;
}

p {

	padding-bottom: 200px;
}
h2, nav ul {

	font-family: "museo-sans",sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 19px;
	color: white;
} 

h2 {

	background-color: rgb(51, 51, 51);
	text-align: left;
	width: 250px;
	padding: 5px;
	padding-left: 10px;
	margin-top: 30px;
	margin-bottom: 0px;

	
}


.content {
	
	
	background-color: white;
	color: rgb(51,51,51);
	border-top: 1px;
	border-style:solid;
	border-color: rgb(51, 51, 51);
	padding: 20px;
	margin-right: 100px; 
	
}


a {
  color: white;
  text-decoration: none;
  
}

 
a:hover {
  color: #ececec;
  text-decoration: underline;
}


nav ul {

	float: left;
 	width: 100%;
 	list-style-type: none;
 	background-color: rgb(128,128,128);

}

nav li a {

  	float: left;
  	display: block;
	text-decoration:none;
	margin-top: 0px;
	margin-left: 20px;



}

ul {
font-family: "museo-sans",sans-serif;	
list-style-type: none;
margin: 0px;
  padding: 0px;
  font-size: 36px;
  color: rgb(26, 26, 26);


}

li.writing {

list-style-type: none;

}

ul.entries li {

 position: relative;
 padding:10px;
 padding-bottom: 20px;

}

ul.entries li h3 {

font-size: 14px;
margin-top: -36px;
margin-left: 40px;
margin-right: 40px;
margin-bottom: 20px;
border-top: 1px;
border-style:solid;
border-color: rgb(51, 51, 51);

}

ul.entriespage li h3 {
text-align: center;
margin: 0px;

}

ul.entries a {
  color: rgb(26,26,26);
}

ul.entries a:hover {
  color: #fff;
}

footer {

	font-family: "museo-sans",sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	color: white;
	background-color: rgb(128,128,128);
	text-align: center;
	margin-top: 400px;	

}

.pageheader, ul.entriespage li h3 {
	
	
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	
	color: rgb(51, 51, 51);

} 

.pageheader {
		
	margin-bottom: 0px;
	border-top: 1px;
	border-bottom: 1px;
	border-style:solid;
	border-color: rgb(51, 51, 51);
	padding: 10px;
	margin-left: 40px;
	margin-right: 40px;
}

.pagecontent {

	margin-left: 40px;
	margin-right: 40px;
	padding: 20px;
	
	

}

.list-unstyled {
	
	color: rgb(51, 51, 51);
	letter-spacing: .5pt;
	font-size: 14px;


}


iframe {

	margin-top: 10px;

}

h4 {

	font-size: 16px;
	font-style: normal;
	font-weight: 300;
}


h5 {

	font-size: 24px;
	font-style: normal;
	font-weight: 300;
	text-align: center;
}


.italics {

	font-style: italic;
}

#magazine{
	
	width:1125px;
	height:750px;
	

	
}
#magazine .turn-page{
	background-color:white;
	background-size:100% 100%;
	border:1px;
	border-color:rgb(230,230,230);
	border-style:solid;
}

sub {
    vertical-align: baseline;
    line-height: inherit;
    font-variant-position: sub;
    font-size: 60%;
    font-weight:normal;
    letter-spacing:0px

  }

